.page-wrapper.about
  background-color: #785b50;
  .inner

    > header
      h1;

    > section.content
      color:#FFF;
      max-width: 590px;
      padding-left:20px;
      font-weight: lighter;

      p
        font-size:1em;

      h2
        font-size:1.4em;
        font-weight: 100;

      h3
        margin: 2em 0 .5em 0;
        font-size:1.2em;
        font-weight:300;

      ul
        margin-left:0;
        padding-left:18px;
        li
          font-size:.9em;

      @media $media-sm-min
        padding-left:70px;
        p
          font-size:1.2em;
        h2
          font-size:2em;

        h3
          font-size:1.5em;


