.layout-wrapper
  height:100%
  overflow: hidden

  .ui-view-container
    position: relative
    height: 100%
    padding:20px

    &.ng-enter, &.ng-leave
      opacity:0

    &.ng-enter
      animation-name: fadeInDown
      animation-duration: 1s
      animation-delay: 0

    &.ng-leave
      animation-name: fadeOutDown
      animation-duration: 1s
      animation-delay: 0



@import '../home/home.styl'
@import 'sidebarDrawerDirective/sidebarDrawerDirective.styl'