/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */

/**
 * Import Bootstrap
 */

@import 'variables';

@import '../../../vendor/bower_components/bootstrap-stylus/bootstrap/variables';
@import '../../../vendor/bower_components/bootstrap-stylus/bootstrap/mixins';

// Reset and dependencies
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/normalize"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/print"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/glyphicons"

// Core CSS
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/scaffolding"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/utilities"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/type"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/code"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/grid"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/tables"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/forms"
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/buttons"

// Components
//@import "component-animations"
//@import "dropdowns"
//@import "button-groups"
//@import "input-groups"
//@import "navs"
//@import "navbar"
//@import "breadcrumbs"
//@import "pagination"
//@import "pager"
//@import "labels"
//@import "badges"
//@import "jumbotron"
//@import "thumbnails"
//@import "alerts"
//@import "progress-bars"
//@import "media"
//@import "list-group"
//@import "panels"
//@import "responsive-embed"
//@import "wells"
//@import "close"

// Components w/ JavaScript
//@import "modals"
//@import "tooltip"
//@import "popovers"
//@import "carousel"

// Utility classes
@import "../../../vendor/bower_components/bootstrap-stylus/bootstrap/responsive-utilities"

@import '../../../vendor/bower_components/nib';

@import '../../../vendor/libs/animate-stylus/animations/fading_entrances/**';
@import '../../../vendor/libs/animate-stylus/animations/fading_exits/**';
@import "app.styl";