//Variable overrides

//** Background color for `<body>`.
$body-bg ?=               #FFF
//** Global text color on `<body>`.
$text-color ?=            #222


$media-sm-min = "all and (min-width: " + $screen-sm-min + ")"